<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
{%load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
           <header>
        <nav>
            <div id="nav1">
            <ul>
                <li><a href="{% url 'accueil' %}">Acceuil</a></li>
                <li><a href="{% url 'Page_de_visualisation' %}">Visualisation</a></li>
                <li><a href="{% url 'Contact' %}">Contact</a></li>
                <li><a href="{% url 'Connexion' %}" class="cnx" >Connexion</a></li>
            </ul>
        </div>
        </nav>

        <nav>
        <div id="nav2">
            <li><img class="logo" src = "{% static 'images/ifrilogo.png'%}" alt="logo" > </li>
            <li><p id="pgr1"><b>Institut de Formation et de Recherche en Informatique </b></p>
            <p id="prg2">Nous batissons l'excellence</p>
            </li>
           <li><img class="logo" src = "{% static 'images/logo-universite-abomey-calavi-uac.png'%}" alt="logoUac" ></li>
    </div>
    </nav>
        </div>
   </header>
           <!-- ||||||||||||||||||||||||||||||||||||||||||||||||...Pied de page...|||||||||||||||||||||||||||||||||||||||||||||||||| -->
   <footer>
    <p>Information</p>
    <p>Contacter-nous</p>
    <p>Ajouter-nous</p>

   </footer>
</body>
</html>