<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    {%load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
          <header>
        <nav>
            <div id="nav1">
            <ul>
                <li><a href="{% url 'accueil' %}">Acceuil</a></li>
                <li><a href="{% url 'Page_de_visualisation' %}">Visualisation</a></li>
                <li><a href="{% url 'Contact' %}">Contact</a></li>
                <li><a href="{% url 'Connexion' %}" class="cnx" >Connexion</a></li>
            </ul>
        </div>
        </nav>

        <nav>
        <div id="nav2">
            <li><img class="logo" src = "{% static 'images/ifrilogo.png'%}" alt="logo" > </li>
            <li><p id="pgr1"><b>Institut de Formation et de Recherche en Informatique </b></p>
            <p id="prg2">Nous batissons l'excellence</p>
            </li>
           <li><img class="logo" src = "{% static 'images/logo-universite-abomey-calavi-uac.png'%}" alt="logoUac" ></li>
    </div>
    </nav>
        </div>
   </header>

</div>      

        
</header> 

 <center>
     <div class2="container">
         <form method="get" action="login.html">
             <div style="text-align:center ;">
                 <h2 >Créer un compte</h2><br>
             </div>
             <hr style="height:0px; width:100%;">
                 
                 <p>Nom d'utilisateur*</p>
                 <label for="username"></label>
                 <input type="text"placeholder="Votre nom d'utilisateur" id="username" name="username" required>
                 
                 <p>Matricule*</p>
                 <label for="matricule"></label>
                 <input type="number" placeholder="Entrez votre matricule" id="matricule" name="matricule" required="">

                 <p>Adrresse e-mail</p>
                 <br><label for="email"></label>
                 <input type="email" placeholder="Entrez votre adresse email" id="email" name="email" required="">

                 <p>Mot de passe</p>
                  <br><label for="password"></label>
                 <input type="password" placeholder="Entrez votre mot de passe" id="password" name="password" required="">

                 <p>Confirmation du mot de passe*</p>
                 <br><label for="password"></label>
                 <input type="confirm-password" placeholder="Confirmer le mot de passe" id="confirm-password" name="password" required="">
                 <center>
                     <br><br><br><button><a href="visualisation.html">Valider</a></button>
                     <br><br><br><h3>Déja inscrit ?</h3><br><br>
                     <button><a href=" login.html">Se connecter</a><br></button> 
                 </center>
         </form>
     </div>
 </center>
 </div>
           <!-- ||||||||||||||||||||||||||||||||||||||||||||||||...Pied de page...|||||||||||||||||||||||||||||||||||||||||||||||||| -->
   <footer>
    <p>Information</p>
    <p>Contacter-nous</p>
    <p>Ajouter-nous</p>

   </footer>
</body>
</html>