<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>accueil</title>
    {%load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
           <header>
        <nav>
            <div id="nav1">
            <ul>
                <li><a href="index.html">Acceuil</a></li>
                <li><a href="Visualisation.html">Visualisation</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="login.html" class="cnx">Connexion</a></li>
            </ul>
        </div>
        </nav>

        <nav>
        <div id="nav2">
            <li><img class="logo" src = "{% static 'images/ifrilogo.png'%}" alt="logo" > </li>
            <li><p id="pgr1"><b>Institut de Formation et de Recherche en Informatique </b></p>
            <p id="prg2">Nous batissons l'excellence</p>
            </li>
           <li><img class="logo" src = "{% static 'images/logo-universite-abomey-calavi-uac.png'%}" alt="logoUac" ></li>
    </div>
    </nav>
        </div>


   </header>
   <div class="plan">
    <div class="description">
        <nav id="prgh">
    <p id="pr5">
        <p id="prg3"> <i>Nous sommes ravis de vous acceullir sur notre plateforme de planification  des emlpois pour IFRI!</i> </p>
        <p id="prg4"> <i> Nous espérons que vous trouverez tout ce dont vous avez besoin pour optimiser votre temps.</i></p><br>
        <button id="button"><a href="Visualisation.html">Visualiser votre emplois du temps</a></button>
    </p>
</nav>
</div>

   </div>
   <footer>
    <p>Information</p>
    <p>Contacter-nous</p>
    <p>Ajouter-nous</p>

   </footer>
</body>
</html>